#feu{
    background-color: rgb(3, 20, 3);
    width: 200px;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 500px;
    gap: 10px;
}
#vert, #jaune, #rouge {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: grey;
}